# Vanna Agent Configuration Info
# This settings can also be defined in the project root .env file.

GEMINI_API_KEY=your_key
GEMINI_MODEL=gemini-2.5-flash
SOURCE_DB_URL=postgresql://postgres:postgres@localhost:5432/chinook
